ENV="LOCAL"
SECRET_KEY="key-123"

# 0 False, 1 True
DEBUG="1"

# Comma Separated values
ALLOWED_HOSTS="127.0.0.1, localhost"

DB_ENGINE="django.db.backends.postgresql"
POSTGRES_DB="postgres"
POSTGRES_USER="root"
POSTGRES_PASSWORD="root"
POSTGRES_HOST="app-psql"
POSTGRES_PORT="5432"

RESEND_API_KEY="re_123"

SENTRY_DSN="https://123.ingest.us.sentry.io/456"